# OS-specific files
.DS_Store
Thumbs.db

# Ignore the app.db file in rider
app.db

# Ignore Rider-specific files
*.idea/
.idea/
*.iml
*.ipr
*.iws
.idea/workspace.xml
.idea/libraries/
.idea/modules.xml
.idea/misc.xml

# Build and output directories
bin/
obj/
dist/
out/

# Logs
*.log

# Node.js dependencies (if applicable)
node_modules/

# User secrets and config
*.config
*.env
secrets.json

# Temporary and cache files
tmp/
*.tmp
*.bak

# ASP.NET or .NET-specific
*.dll
*.pdb
*.exe
*.cache
*.suo
*.user
*.db
*.db-wal
*.db-shm


# Ignore NuGet-related files
*.nuget.dgspec.json
*.nuget.g.props
*.nuget.cache

# Ignore other temporary or build-related files
*.cache
*.dll
*.exe
*.pdb
*.runtimeconfig.cache
*.json
*.editorconfig
*.txt
*.nuget/
*.nuget/
